<div class="background-color index-whole">
  <div class="top top-index">
    <h1>ユーザ一覧</h1>
  </div>

  <div class="content">
    <h1>運営</h1>
    <div class="innercontent">
      <% @users.where(grade: 0).each do |user| %>
          <%= link_to(user.name, "/users/#{user.id}") %>
      <% end %>
    </div>
  </div>

  <div class="content">
    <h1>１期生</h1>
    <div class="innercontent">
      <% @users.where(grade: 1).each do |user| %>
          <%= link_to(user.name, "/users/#{user.id}") %>
      <% end %>
    </div>
  </div>

  <div class="content">
    <h1>２期生</h1>
    <div class="innercontent">
      <% @users.where(grade: 2).each do |user| %>
          <%= link_to(user.name, "/users/#{user.id}") %>
      <% end %>
    </div>
  </div>

  <div class="content">
    <h1>３期生</h1>
    <div class="innercontent">
      <% @users.where(grade: 3).each do |user| %>
          <%= link_to(user.name, "/users/#{user.id}") %>
      <% end %>
    </div>
  </div>

  <div class="content">
    <h1>４期生</h1>
    <div class="innercontent">
      <% @users.where(grade: 4).each do |user| %>
          <%= link_to(user.name, "/users/#{user.id}") %>
      <% end %>
    </div>
  </div>
</div>  