<div class="background-color setting-whole">
    <div class="top">
        <h1>設定</h1>
    </div>

    <div class="content">
        <h1>基本情報</h1>
        <%= form_tag("/users/setting") do %>
            <div class="input into">
                <p>ニックネーム</p>
                <input name="name" value="<%= @user.name %>" class="<%= "error-input" if @user.errors.include?(:name) %>">
            </div>
            <% if @user.errors.include?(:name) %>
                <p class="error-message">入力必須項目です</p>
            <% end %>

            <div class="input into">
                <p>姓名</p>
                <input name="real_name" value="<%= @user.real_name %>" class="<%= "error-input" if @user.errors.include?(:real_name) %>">
            </div>
            <% if @user.errors.include?(:real_name) %>
                <p class="error-message">入力必須項目です</p>
            <% end %>

            <div class="input into">
                <p>email</p>
                <input name="email" value="<%= @user.email %>" class="<%= "error-input" if @user.errors.include?(:email) %>">
            </div>
            <% if @user.errors.include?(:email) %>
                <p class="error-message">有効な未登録のメールアドレスを入力してください</p>
            <% end %>

            <div class="input into">
                <p>期(0-10)</p>
                <input name="grade" value="<%= @user.grade %>" class="<%= "error-input" if @user.errors.include?(:grade) %>">
            </div>
            <% if @user.errors.include?(:grade) %>
                <p class="error-message">0〜10の半角数字を入力してください</p>
            <% end %>

            <div class="input into">
                <p>password</p>
                <input name="password" type="password" class="<%= "error-input" if @user.errors.include?(:password) %>">
            </div>
            <% if @user.errors.include?(:password) %>
                <p class="error-message">パスワードを入力してください</p>
            <% end %>

            <input type="submit" value="Update" class="button big-button">
        <% end %>

        <h1>その他</h1>
        <%= link_to("Log out", "/logout", class: 'button big-button', method: :post) %>
    </div>
</div>