<div class="top">
    <h1>設定</h1>
</div>

<div class="content">
    <% @post.errors.full_messages.each do |message| %>
        <div class="error-message">
            <%= message %>
        </div>
    <% end %>

    <h1>基本情報</h1>
    <%= form_tag("/users/setting") do %>
        
        <p>ニックネーム</p>
        <input name="name" value="<%= @user.name %>">

        <p>姓名</p>
        <input name="real_name" value="<%= @user.real_name %>">

        <p>期(0-10)</p>
        <input name="grade" value="<%= @user.grade %>">

        <p>email</p>
        <input name="email" value="<%= @user.email %>">

        <p>password</p>
        <input name="password">

        <input type="submit" value="Update">
    <% end %>

    <h1>その他</h1>
    <%= link_to("Log out", "/logout", {method: "post"}) %>
</div>