<div class="background-color show-whole">
  <div class="top show-top">

    <h1><%= @user.name %></h1>
    <p><%= @user.real_name %></p>

    <% if @user.grade == 0 %>
      <p>運営</p>
    <% else %>
      <p><%= @user.grade %>期生</p>
    <% end %>
    <% if @user.id == session[:id] %>
      <div class="show-button">
          <a href="/posts/new">ポートフォリオを作成する</a>
      </div>
    <% end %>
  </div>

  <% @user.posts.order(id: :DESC).each do |post| %>
    <div class="content-box">
      <%= link_to("/posts/#{post.id}/show", class: "topic-date") do %>
        <%= post.year %>/<%= post.month %>　<%= post.tytle %>
      <% end %>
      <% if params[:id] == session[:id] %>
        <div class="edit-link">
          <div class="edit-button">
            <%= link_to("編集", "/posts/#{post.id}/edit", class: "gray-button") %>
          </div>
          <div class="destroy-button">
            <%= link_to("削除", "/posts/#{post.id}/destroy", method:"post", class:"gray-button") %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>