<div class="top">
  <h1><%= @user.name %></h1>
  <p><%= @user.grade %>期生</p>
  <a href="posts/new">ポートフォリオを作成する</a>
</div>

<% @user.posts.each do |post| %>
  <div>
    <%= link_to("/posts/#{post.id}/show") do %>
      <%= post.year %>/<%= post.month %>　<%= post.tytle %>
    <% end %>
    
    <div>
      <%= link_to("編集", "/posts/#{post.id}/edit") %>
      <%= link_to("削除", "/posts/#{post.id}/destroy", {method:"post"}) %>
    </div>
  </div>
<% end %>