<div class="background-color show-whole">
  <div class="top show-top">

    <h1><%= @user.name %></h1>
    <p><%= @user.real_name %></p>

    <% if @user.grade = 0 %>
      <p>運営</p>
    <% else %>
      <p><%= @user.grade %>期生</p>
    <% end %>

    <div class="show-button">
      <% if @user.id == session[:id] %>
        <a href="/posts/new">ポートフォリオを作成する</a>
      <% end %>
    </div>  
  </div>

  <% @user.posts.order(id: :DESC).each do |post| %>
    <div>
      <%= link_to("/posts/#{post.id}/show") do %>
        <%= post.year %>/<%= post.month %>　<%= post.tytle %>
      <% end %>
      
      <div>
        <% if params[:id] = session[:id] %>
          <%= link_to("編集", "/posts/#{post.id}/edit") %>
          <%= link_to("削除", "/posts/#{post.id}/destroy", {method:"post"}) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>