<h2>新規登録画面</h2>

<% if @user %>
    <% @user.errors.full_messages.each do |message| %>
        <div class="error-message">
            <%= message %>
        </div>
    <% end %>
<% end %>

<%= form_tag("/users/create") do %>
    <div class="regist-content">
        <div class="regist-user">
            ニックネーム<input name="name" value="<%= @user.name %>">
        </div class="regist-user">

        <div class="regist-user">
            姓名<input name="real_name" value="<%= @user.real_name %>">
        </div class="regist-user">

        <div class="regist-user">
            メールアドレス<input name="email" value="<%= @user.email %>">
        </div class="regist-user">

        <div class="regist-user">
            <input name="grade" value="<%= @user.grade %>">期生
        </div class="regist-user">

        <!--
            <div class="regist-user">
                写真※任意<input name="image" type="file" accept=".jpg, .jpeg">
            </div class="regist-user">
        -->

        <div class="regist-user">
            パスワード<input name="password" type="password">
        </div class="regist-user">
    </div>

    <input type="submit" value="登録">
<% end %>