<div class="background-color">    
    <div class="top">
        <h1>編集</h1>
    </div>

    <div class="content">

        <%= form_tag("/posts/create") do %>

            <div class="input">
                <p>タイトル</p>
                <input name="tytle" class="title-input" value="<%= @post.tytle %>">
            </div>

            <p class="try">日付</p>
            <div class="postnew-input">
                <div class="nextto-input">
                    <input name="year" class="mini-input" value="<%= @post.year %>">
                    <p>年</p>
                </div>
                <div class="nextto-input">
                    <input name="month" class="mini-input" value="<%= @post.month %>">
                    <p>月</p>
                </div>
            </div>
            
            <div class="input">
                <p>背景</p>
                <textarea name="background"><%= @post.background %></textarea>
            </div>

            <div class="input">
                <p>意図</p>
                <textarea name="aim"><%= @post.aim %></textarea>
            </div>

            <div class="input">
                <p>行動</p>
                <textarea name="do"><%= @post.do %></textarea>
            </div>    

            <div class="input">
                <p>気付き・変化</p>
                <textarea name="notice"><%= @post.notice %></textarea>
            </div>

            <div class="button postnew-button">
                <input type="submit" value="Update">
            </div>    
        <% end %>
    </div>
</div>    