<div class="background-color posts-new-whole">
    <div class="top postnew-top">
        <h1>新規作成</h1>
    </div>

    <div class="content">

        <%= form_tag("/posts/create") do %>
            <div>
                <p>タイトル</p>
                <input name="tytle" value="<%= @post.tytle %>" class="title-input <%= "error-input" if @post.errors.include?(:tytle) %>">
            </div>
            <% if @post.errors.include?(:tytle) %>
                <p class="error-message">入力必須項目です</p>
            <% end %>

            <div>
                <p class="try">日付</p>
                <div class="postnew-input">
                    <div class="nextto-input">
                        <input name="year" value="<%= @post.year %>" class="mini-input <%= "error-input" if @post.errors.include?(:year) %>">
                        <p>年</p>
                    </div>
                </div>
                <% if @post.errors.include?(:year) %>
                    <p class="error-message">入力必須項目です</p>
                <% end %>

                <div>
                    <input name="month" value="<%= @post.month %>" class="mini-input <%= "error-input" if @post.errors.include?(:month) %>">
                    <p>月</p>
                </div>
                <% if @post.errors.include?(:month) %>
                    <p class="error-message">入力必須項目です</p>
                <% end %>
            </div>

            <div class="input">
                <p>背景</p>
                <textarea name="background" rows="7" cols="85" style="text-align:left;" placeholder="put message here"><%= @post.background %></textarea>
            </div>

            <div class="input">
                <p>意図</p>
                <textarea name="aim" rows="7" cols="85" style="text-align:left;" placeholder="put message here"><%= @post.aim %></textarea>
            </div>

            <div class="input">
                <p>行動</p>
                <textarea name="do" rows="7" cols="85" style="text-align:left;" placeholder="put message here"><%= @post.do %></textarea>
            </div>

            <div class="input">
                <p>気付き・変化</p>
                <textarea name="notice" name="notice" rows="7" cols="85" style="text-align:left;" placeholder="put message here"><%= @post.notice %></textarea>
            </div>

            <div class="button postnew-button">
                <input type="submit" value="作成">
            </div>
        <% end %>
    </div>
</div>    