<h2>投稿詳細画面</h2>

<div>
    タイトル：<%= @post.tytle %>
</div>
<div>
    背景：<%= @post.background %>
</div>
<div>
    行動：<%= @post.do %>
</div>
<div>
    学び・気付き：<%= @post.notice %>
</div>
<div>
    <%= link_to("編集", "/posts/#{@post.id}/edit") %>
</div>
<div>
    <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
</div>