<div class="top">
  <h1><%= @post.tytle %></h1>
  <%= link_to(@post.user.name, "/users/#{@post.user_id}") %>
  <p> | <%= @post.year %>/<%= @post.month %></p>
  <%= link_to("編集", "/posts/#{@post.id}/edit") %>
  <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
</div>

<div class="content">
  <p>背景</p>
  <%= @post.background %>
</div>
<div class="content">
  <p>行動</p>
  <%= @post.do %>
</div>
<div class="content">
  <p>変化/感じたこと</p>
  <%= @post.notice %>
</div>