<div class="background-color posts-show-whole">
  <div class="top detail-top">
    <h1><%= @post.tytle %></h1>

    <div class="nameyear">
      <div class="nameyear-box">
        <%= link_to(@post.user.name, "/users/#{@post.user_id}") %>
        <p> | <%= @post.year %>/<%= @post.month %></p>
      </div>
    </div>
    <% if @post.user_id == session[:id] %>
      <div class="two-button">
            <%= link_to("編集", "/posts/#{@post.id}/edit", class: "button2 switch-left") %>
            <%= link_to("削除", "/posts/#{@post.id}/destroy", method: "post", class: "button2") %>
      </div>
    <% end %>
  </div>

  <% unless @post.background.empty? %>
    <div class="content">
      <h1>背景</h1>
      <div class="main">
        <p><%= @post.background %></p>
      </div>
    </div>
  <% end %>

  <% unless @post.aim.empty? %>
    <div class="content">
      <h1>意図</h1>
      <div class="main">
      <p><%= @post.aim %></p>
      </div>
    </div>
  <% end %>

  <% unless @post.do.empty? %>
    <div class="content">
      <h1>行動</h1>
      <div class="main">
      <p><%= @post.do %></p>
      </div>
    </div>
  <% end %>

  <% unless @post.notice.empty? %>
    <div class="content">
      <h1>変化/感じたこと</h1>
      <div class="main">
      <p><%= @post.notice %></p>
      </div>
    </div>
  <% end %>
</div>
