<!DOCTYPE html>
<html>
  <head>
    <title>AxisPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/"><h1>AXIS PORTFOLIO</h1></a>
    <div class="header-banner">
      <% if session[:user_id] %>
        <%= session[:user_id] %>
        <%= link_to("新規投稿", "/posts/new") %>
        <%= link_to("ユーザ設定", "/users/setting") %>
        <%= link_to("ログアウト", "/logout", {method:"post"}) %>
      <% else %>
        <%= link_to("新規登録", "/users/new") %>
        <%= link_to("ログイン", "/login") %>
      <% end %>
      <%= link_to("投稿テーブル", "/table/post") %>
      <%= link_to("ユーザーテーブル", "/table/user") %>
    </div>

    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>

</html>
