<!DOCTYPE html>
<html>
  <head>
    <title>AxisPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% unless session[:id].nil? %>
        <header>
          <a href="/users/index"><h1>AXIS PORTFOLIO</h1></a>
          <%= link_to("MyPage", "/users/#{session[:id]}") %>
          <%= link_to("ユーザ一覧", "/users/index") %>
          <%= link_to("Settings", "/users/setting") %>
        </header>
      <% end %>
    </div>

    <% if flash[:dangerous] %>
      <div class="flash dangerous">
        <%= flash[:dangerous] %>
      </div>
    <% elsif flash[:notice] %>
      <div class="flash notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    

    <%= yield %>

    <% unless session[:id].nil? %>
      <footer>
        <p>©︎</p>
        <p>2022 関西AXIS</p>
        <a href="/help">Help</a>
      </footer>
    <% end %>
  </body>

</html>
