<!DOCTYPE html>
<html>
  <head>
    <title>AxisPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless session[:id].nil? %>
      <header>
        <div class="header-mini">
          <a href="/users/index"><h1>AXIS Portfolio</h1></a>
          <div class="three-link">
            <div class="redhover">
              <%= link_to("MyPage", "/users/#{session[:id]}") %>
            </div>
            <div class="redhover">
              <%= link_to("ユーザ一覧", "/users/index") %>
            </div>
            <div class="redhover">
              <%= link_to("Settings", "/users/setting") %>
            </div>
          </div>
        </div>
      </header>
    <% end %>

    <% if flash[:dangerous] %>
      <div class="flash flash-dangerous">
        <%= flash[:dangerous] %>
      </div>
    <% elsif flash[:notice] %>
      <div class="flash flash-notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <div class="footer-mini">
        <div class="two-footer">
          <a href="/help">ヘルプページ</a>
          <a href="https://forms.gle/RUG21EDnvNbof9kC6">お問い合わせ</a>
          <p>©︎</p>
          <p>2022 関西AXIS</p>
        </div>
      </div>
    </footer>
  </body>
</html>
